<div class="product-grid">
    {% for product in products %}
        <div class="product-card" data-category="{{ product.category }}">
            <div class="product-image">
                <img src="{{ url_for('static', filename='img/products/' ~ product.photonum) }}" alt="{{ product.name }}">
                <div class="product-badges">
                    {% if loop.index == 1 %}
                        <span class="product-badge">Новинка</span>
                    {% elif loop.index == 2 %}
                        <span class="product-badge">Хит</span>
                    {% endif %}
                </div>
            </div>
            <div class="product-info">
                <h3>{{ product.name }}</h3>
                {% if product.desc != 'no' %}
                    <p>
                        {{ product.desc[:120] }}{% if product.desc|length > 120 %}...{% endif %}
                    </p>
                {% endif %}
                <div class="product-bottom">
                    <div class="product-price">{{ '{:,.0f}'.format(product.price | int).replace(',', ' ') }} ₽</div>
                    <form action="{{ url_for('add_to_cart') }}" method="POST">
                      <input type="hidden" name="product_id" value="{{ product.id }}">
                      <button type="submit">В корзину</button>
                    </form>

                </div>
            </div>
        </div>
    {% endfor %}
</div>
