{# templates/header.html #}
<header class="header">
    <div class="container">
        <a href="{{ url_for('home') }}" class="logo">
            <h1 class="logo">Очки & Пудра</h1>
        </a>
        <nav class="nav">
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <label for="nav-toggle" class="nav-toggle-label">
                <span></span>
            </label>
            <ul>
                <li>
                    <a href="{{ url_for('catalog', category='cosmetics') }}" class="has-submenu">Каталог</a>
                </li>
                <li>
                    <a href="{{ url_for('catalog', category='cosmetics') }}" class="has-submenu">Косметика</a>
                    <ul class="sub-menu">
                        <li><a href="{{ url_for('catalog', type='Товары для лица', category='cosmetics') }}">Лицо</a></li>
                        <li><a href="{{ url_for('catalog', type='Товары для глаз', category='cosmetics') }}">Глаза</a></li>
                        <li><a href="{{ url_for('catalog', type='Товары для бровей', category='cosmetics') }}">Брови</a></li>
                        <li><a href="{{ url_for('catalog', type='Товары для губ', category='cosmetics') }}">Губы</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('catalog', category='glasses') }}" class="has-submenu">Очки</a>
                    <ul class="sub-menu">
                        <li><a href="{{ url_for('catalog', type='Мужские', category='glasses') }}">Мужские</a></li>
                        <li><a href="{{ url_for('catalog', type='Женские', category='glasses') }}">Женские</a></li>
                        <li><a href="{{ url_for('catalog', type='Унисекс', category='glasses') }}">Унисекс</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('contact') }}">Контакты</a></li>
                <li>
                    <a href="{{ url_for('cart') }}" class="cart-link" title="Корзина">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="cart-text">Корзина</span>
                    </a>
                </li>
                <!--<li>
        <a class="cart-link" id="searchMenu" title="Поиск">-->
                <!--<i class="fas fa-search"></i>-->
                <!--<span class="cart-text">Поиск</span>-->
                <!--</a>
    </li>-->
                {% if session.user_id %}
                <!-- Пользователь вошел -->
                <li>
                    <a href="{{ url_for('account') }}" class="cart-link" id="searchMenu3" title="Кабинет">
                        <i class="fas fa-user"></i>
                        <span class="cart-text">Кабинет</span>
                    </a>
                </li>
                {% else %}
                <!-- Гость -->
                <li>
                    <a href="{{ url_for('reg') }}" class="cart-link" id="searchMenu2" title="Вход/регистрация">
                        <i class="fas fa-user"></i>
                        <span class="cart-text">Вход / регистрация</span>
                    </a>
                </li>
                {% endif %}

            </ul>
        </nav>

        <div class="search-block" id="searchBlock">
            <form class="search-form">
                <input type="text" placeholder="Поиск товаров..." class="search-input">
                <button type="submit" class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</header>
